{% extends "base.html" %}
{% from 'macros/navbar.html' import navbar %}
{% from "macros/flashedmessages.html" import flashedmessages %}
{% block pagecontent %}
    <div id="page-top">
        <div id="nav">{{ navbar(roles) }}</div>
        <div id="session-info">
            {% if name %}
                {{ name }}
            {% else %}
                Annonymous
            {% endif %}
            &nbsp;(<a href="/logout">Log out</a>)
        </div>
    </div>
    {{ flashedmessages() }}
    <div id="contentheader">
        <h1>{% block contentheading %}{% endblock %}</h1>
        <h2>{% block contentsubheading %}&nbsp;{% endblock %}</h2>
    </div>
    <div id="main-content">
        {% block maincontent %}{% endblock %}
    </div>
{% endblock %}
